<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
 qwe
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
     
  </Appenders>
  <Loggers>
    <Logger name="org.hibernate" level="trace" additivity="false">
      <AppenderRef ref="Console" />
    </Logger>
 
    <!-- Log all SQL statements -->
    <Logger name="org.hibernate.SQL2" level="trace" additivity="false">
      <AppenderRef ref="Console" />     
    </Logger>
 
    <Root level="error">
      <AppenderRef ref="Console" />     
    </Root>
  </Loggers>
</Configuration>