.clearfloat {
    clear: both;
}
#errMsg {
    width: 85%;
    margin-left: 7.5%;
    color: red;
}
#memberEntry {
    display:block;
    width: 85%;
    margin-left: 7.5%;
    background-color: #DDDDFF;
}
#memberList {
    display:block;
    width: 85%;
    margin-left: 7.5%;
    margin-top: 1em;
    background-color: #FFFFDD;
    height: 10em;
    overflow: scroll;
}

#idView {
    float:right;
    margin-right: 2em;
    margin-top:0.3em;
    color:#888888;
}
#submitButton {
    float: right;
}
.listTable td {
    padding-right: 1em;
}